<html ng-app="resilienceTutorial">
<head>
  <link rel="shortcut icon" href="/vendors/codecentric/logo.ico">
  <meta charset="UTF-8">
  <title>Resilient Software Design applied</title>
  <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.css">

  <script src="vendors/angular/angular.js"></script>
  <script src="vendors/angular-sanitize/angular-sanitize.js"></script>
  <script src="vendors/showdown/compressed/Showdown.js"></script>
  <script src="vendors/angular-markdown-directive/markdown.js"></script>
  <script src="vendors/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="vendors/codecentric/resilienceTutorial.js"></script>

  <style>
    .ng-cloak {
      display: none !important;
    }

    dl.dl-horizontal.wide dt { width: 230px; }
    dl.dl-horizontal.wide dd { margin-left: 250px; }

    .modal-backdrop {
      height: 100% !important;
    }
  </style>
</head>
<body>
<div class="container" style="max-width: 700px">
  <div class="page-header">
    <h1>Resilient Software Design applied </br><small>by codecentric AG</small></h1>

  </div>

  <div class="ng-cloak" ng-controller="resilienceTutorialCtrl">

    <div class="well well-lg">
      Please make sure that you have read the
      <a href="" ng-click="showReadme()">README</a>
      before diving into the training material.
    </div>

    <div class="well well-lg" ng-show="readme" btf-markdown="readme"></div>

    <dl class="dl-horizontal ng-cloak wide">

      <dt ng-repeat-start="section in sections">
        <span ng-hide="section.story">
          {{section.id}}:
        </span>
        {{section.title}}
      </dt>
      <dd ng-repeat-end>
        <ul>
          <li ng-show="section.story">
            <a href="/{{section.directory}}/stories/">Story</a>
          </li>
          <li ng-show="section.slides">
            <a href="/{{section.directory}}/slides/">Slides</a>
          </li>
          <li ng-show="section.exercise">
            <a href="/{{section.directory}}/exercises/">Exercise {{section.id}}</a>
          </li>
          <li ng-show="section.solutions">
            <a href="/{{section.directory}}/solutions/">Solutions</a>
          </li>
        </ul>
      </dd>
    </dl>

    <h2>Shortcuts</h2>
    <!-- <ul>
      <li>
        Pressing 'b' brings you back here
      </li>
    </ul> -->
  </div>
</div>

<script type="text/ng-template" id="readme-modal.html">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Training README</h3>
  </div>
  <div class="modal-body" btf-markdown="readme"></div>
</script>

</body>
</html>
